{% extends 'student/st_base.html' %}
{% block main_content %}

<style>
    body {
      background-image:url(/media/computers-3.png);
      background-size: 100% 100%;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      height: 100vh;
      margin: 0px;
      padding:0px
      width:100%;
      height:100%;
  }



   .content-section
   {
     border: 0px solid #fff;
     margin-top: 10vh;
     color:white;
     padding:50px 60px 50px 60px;
     background-color:rgba(0,0,0,0.6);


   }
    .button-group{
    margin-top:10vh;
    }


</style>
<div class="content-section" style="width:100%;">
    <div class="col-12">
        <div id="about" class="offset">
    <div class="col-12 text-center">
        <h3 class="heading">MEET THE TEAM</h3>
        <div class="heading-underline"></div>
    </div>
    <div class="row padding">
        <div class="col-md-6">
            <div class="card text-center">
                <img class="card-img-top" src="/media/default.jpg">
                <div class="card-body">
                    <h4 style="color:blue;">Suhrid Shakhar Ghosh</h4>
                    <h6 style=color:#CA0B19;">Supervisor</h6>
                    <h6 style=color:#CA0B19;>Lecturer</h6>
                    <h6 style=color:#CA0B19;>Department of Computer Science and Engineering</h6>
                    <h6 style=color:#CA0B19;>Rajshahi University of Engineering and Technology,</h6>
                    <h6 style=color:#CA0B19;>Rajshahi,Bangladesh</h6>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <img class="card-img-top" src="/media/dev_photo.jpg">
                <div class="card-body">
                    <h4 style="color:blue;">Urmi Sen</h4>
                    <h6 style=color:#CA0B19;">Developer</h6>
                    <h6 style=color:#CA0B19;">Roll : 1503119</h6>
                    <h6 style=color:#CA0B19;>Department of Computer Science and Engineering</h6>
                    <h6 style=color:#CA0B19;>Rajshahi University of Engineering and Technology,</h6>
                    <h6 style=color:#CA0B19;>Rajshahi,Bangladesh</h6>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</div>
{% endblock %}