{% extends 'teacher/t_base.html' %}
{% block main_content %}

<style>
    body {
      background-image:url(/media/computers-3.png);
      background-size: 100% 100%;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      height: 100vh;
      margin: 0px;
      padding:0px
      width:100%;
      height:100%;
  }
footer{
color:white;
padding:2rem 0 3rem;
margin-top:1rem;
}
footer a{
color:white;
}
footer svg.svg-inline--fa{
font-size:1.6rem;
margin:1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover{
color:#1ebba3;
}
hr.socket{
border-top:.2rem solid orange;
width:100%;
}


   .content-section
   {
     border: 0px solid #fff;
     margin-top: 10vh;
     color:white;
     padding:50px 60px 50px 60px;
     background-color:rgba(0,0,0,0.6);


   }
    .button-group{
    margin-top:10vh;
    }


</style>
<div class="content-section" style="width:100%;">
    <div class="col-12">
        <div class="container">
  <div class="col-lg-12 text-center">
      <h3 class="heading">CONTACT INFO</h3>
        <div class="heading-underline"></div>
        <img class="bd-placeholder-img rounded-circle" width="350" height="250" src="/media/dev_photo.jpg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
        <br>
        <h2>DEVELOPER</h2>
        <h4 style="color:blue;">Urmi Sen</h4>
        <h6 style=color:#CA0B19;">Roll : 1503119</h6>
        <h6 style=color:#CA0B19;>Department of Computer Science and Engineering</h6>
        <h6 style=color:#CA0B19;>Rajshahi University of Engineering and Technology,</h6>
        <h6 style=color:#CA0B19;>Rajshahi,Bangladesh</h6>
        <p>(+88) 01630564966 <br>urmisen1202@gmail.com</p>
                <a href="https://web.facebook.com/urmisen1202" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
        </div>

</div>

    </div>
</div>
{% endblock %}